@font-face {
    font-family: 'IM FELL English PRO';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/IMFeENrm29C.otf');
}

@font-face {
    font-family: 'IM FELL English PRO';
    font-weight: normal;
    font-style: italic;
    src: url('../Fonts/IMFeENit29C.otf');
}

@font-face {
	font-family: 'Paytone One';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/PaytoneOne.ttf')
}

body {
font-family: 'IM FELL English PRO', serif;
text-align: justify;
}

h1, h2, h3, h4, h5 {
font-family: 'Paytone One', sans-serif;
text-align: center;
}

blockquote {
margin-top: -15px;
margin-bottom: -15px;
font-style: italic;
}

hr {
    border: 0;
    /*height: 1px;*/
    background-image: ../images/section_break.png; 
}

.center 
{
    text-align:center;
}
